{% extends "base.html" %}
{% comment %} ............................ {% endcomment %}
{%block title%}
    Main
{%endblock%}
{% comment %} ............................ {% endcomment %}
{%block body%}
    <h1>Hello This Is Main Page</h1>
    <div class = 'hero-section'>
        <p>
            بِسۡمِ ٱللَّهِ ٱلرَّحۡمَٰنِ ٱلرَّحِيمِ (1) <br>
            ٱلۡحَمۡدُ لِلَّهِ رَبِّ ٱلۡعَٰلَمِينَ (2) <br>
            ٱلرَّحۡمَٰنِ ٱلرَّحِيمِ (3) مَٰلِكِ يَوۡمِ ٱلدِّينِ (4) <br>
            إِيَّاكَ نَعۡبُدُ وَإِيَّاكَ نَسۡتَعِينُ (5) ٱهۡدِنَا <br>
            ٱلصِّرَٰطَ ٱلۡمُسۡتَقِيمَ (6) صِرَٰطَ ٱلَّذِينَ أَنۡعَمۡتَ <br>
            عَلَيۡهِمۡ غَيۡرِ ٱلۡمَغۡضُوبِ عَلَيۡهِمۡ <br>
            وَلَا ٱلضَّآلِّينَ (7) <br>
        </p>
        
    </div>

{%endblock%}