{% extends "base.html" %}
{% comment %} ............................ {% endcomment %}
{%block title%}
    Main
{%endblock%}
{% comment %} ............................ {% endcomment %}
{%block body%}
    <h1>Hello This Is Main Page</h1>
    <p>afsssssssssssssssssssss</p>
    <p>afsssssssssssssssssssss</p>
    <p>afsssssssssssssssssssss</p>
    <p>afsssssssssssssssssssss</p>
    <p>afsssssssssssssssssssss</p>
    <p>afsssssssssssssssssssss</p>
    <p>afsssssssssssssssssssss</p>
    <p>afsssssssssssssssssssss</p>
    <p>afsssssssssssssssssssss</p>
    <p>afsssssssssssssssssssss</p>
    <p>afsssssssssssssssssssss</p>
    <p>afsssssssssssssssssssss</p>
    <p>afsssssssssssssssssssss</p>
    <p>afsssssssssssssssssssss</p>
    <p>afsssssssssssssssssssss</p>
    <p>afsssssssssssssssssssss</p>
    <p>afsssssssssssssssssssss</p>
    <p>afsssssssssssssssssssss</p>
    <p>afsssssssssssssssssssss</p>
    <p>afsssssssssssssssssssss</p>
    <p>afsssssssssssssssssssss</p>
    <p>afsssssssssssssssssssss</p>
    <p>afsssssssssssssssssssss</p>
    <p>afsssssssssssssssssssss</p>
    <p>afsssssssssssssssssssss</p>
{%endblock%}